<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVENUECAT_APPLE_API_KEY</key>
	<string>$(REVENUECAT_APPLE_API_KEY)</string>
	<key>HELICONE_API_KEY</key>
	<string>$(HELICONE_API_KEY)</string>
	<key>LANGFUSE_SECRET_KEY</key>
	<string>$(LANGFUSE_SECRET_KEY)</string>
	<key>LANGFUSE_PUBLIC_KEY</key>
	<string>$(LANGFUSE_PUBLIC_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ykh.livingdevotional.widget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>livingpath</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
